@import "../../styles/common.scss";

@include desktops {
  div.bussiness_container {
    overflow: hidden;
    transition: 0.3s;
    > div.sloagn_wrapper {
      margin-top: 100px;
      width: 100vw;
      min-width: 1024px;
      height: 800px;
      background: linear-gradient(180deg, rgba(250, 250, 250, 1) 0%, rgba(235, 240, 245, 1) 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      > div.sloagn {
        max-width: 1200px;
        min-width: 964px;
        height: 600px;
        background-color: #fff;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        box-shadow: 0 16px 16px 0 rgba(0,0,0,0.05);
        > div {
          width: 50%;
          height: 300px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          > img {
            width: 96px;
            height: 96px;
            display: block;
          }

          > h2 {
            margin: 0;
            margin-top: 30px;
            text-align: center;
            font-size: 24px;
            font-family: $font_family;
            color: rgba(51, 51, 51, 1);
            line-height: 40px;
          }
        }
      }
    }
  }
}

@include mobiles {
  div.bussiness_container {
    width: 100vw;
    overflow: hidden;
    > div.sloagn_wrapper {
      margin-top: px2vw(100);
      min-height: px2vw(1400);
      background: linear-gradient(180deg, rgba(250, 250, 250, 1) 0%, rgba(235, 240, 245, 1) 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      > div.sloagn {
        width: px2vw(600);
        height: px2vw(1200);
        background-color: #fff;
        overflow: hidden;
        border-radius: px2vw(24);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        > div {
          width: 100%;
          height: px2vw(300);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          > h2 {
            margin: 0;
            margin-top: px2vw(30);
            font-size: px2vw(24);
            font-family: $font_family;
          }

          > img {
            display: block;
            width: px2vw(96);
            height: px2vw(96);
          }
        }
      }
    }
  }
}
