$primary_color: #d9b47a;
$title_color: #2B2E33;

$font_family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma,
  Simsun, sans-serif;

$label_bg_color:rgba(237,238,240,1);
$device_width:1200px;
$font_color: rgba(51, 51, 51, 1);
